<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Faouzi Azure Page</title>
</head>

<style>
    *{
    font-family: sans-serif;
}

body{
    width:100%;
    height:100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h3{
    color: rgba(255, 255, 255, 0.466);
    font-size: 3em;
    font-weight: 100;
}

h1{
    color: #f00;
    font-size: 4em;
    letter-spacing: 3px;
    font-family: 'Courier';
    font-weight: lighter;
    text-shadow: 0 0 10px #f00;
}

</style>

<body>
    <h3>Welcome everybody</h3>
    <h1>Faouzi Boussad</h1>
    <h3>Web Application Deployment</h3>
</body>
</html>